@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Raleway&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Oleo Script Swash Caps', cursive;
}
p{
  font-family: 'Oleo Script Swash Caps', cursive;
}
ul{
  font-family: 'Oleo Script Swash Caps', cursive;
}
.hero{
  background: url('../public/img/herobg2.jpg') no-repeat center;
  background-size: cover;
  font-family: 'Oleo Script Swash Caps', cursive;
}
.contact{
  
}
